body
{
background: url('./fond_jaune.png');
font-family: 'Trebuchet MS', Arial, sans-serif;
color: #181818;
}
   #page1{
width: 900px;
margin: auto;
}
 section h1, footer h1, nav a{
font-family: Dayrom, serif;
font-weight: normal;
text-transform: uppercase;
}

  header{
background: url('./separateur.png') repeat-x bottom;
}
 #title{
display: inline-block;
}
header h1{
font-family: 'BallparkWeiner', serif;
font-size: 2.5em;
font-weight: normal;
}
#logo, header h1{
display: inline-block;
margin-bottom: 0px;
}
header h2{
font-family: Dayrom, serif;
font-size: 1.1em;
margin-top: 0px;
font-weight: normal;
}

nav{
display: inline-block;
width: 740px;
text-align: right;
}
nav ul{
list-style-type: none;
}
nav li{
display: inline-block;
margin-right: 15px;
}
nav a{
font-size: 1.3em;
color: #181818;
padding-bottom: 3px;
text-decoration: none;
}
nav a:hover{
color: #760001;
border-bottom: 3px solid #760001;
}
#banniere_image{
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('./sanfrancisco.jpg') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
    }
    #description{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgb(24,24,24); 
    background-color: rgba(24,24,24,0.8); 
    color: white;
    font-size: 0.8em;
    }
    .bouton_rouge
    {
    display: inline-block;
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: url('./fond_degraderouge.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
    }
    .bouton_rouge img{
    border: 0;
    }

    article, aside{
display: inline-block;
vertical-align: top;
text-align: justify;
}

article{
    width: 625px;
    margin-right: 15px;
    font-size: 17px;
}
.ico_categorie{
vertical-align: middle;
margin-right: 8px;
}
article p{
font-size: 0.8em;
}
aside{
position: relative;
width: 235px;
background-color: #706b64;
box-shadow: 0px 2px 5px #1c1a19;
border-radius: 5px;
padding: 10px;
color: white;
font-size: 0.9em;
}
#fleche_bulle{
position: absolute;
top: 100px;
left: -12px;
}
.red{
    color: red;
}
#photo_zozor{
text-align: center;
}
#photo_zozor img{
border: 1px solid #181818;
}
aside img{
margin-right: 5px;
}
footer{
background: url('./ico_top.png') no-repeat top center,
url('./separateur.png') repeat-x top, url('./ombre.png')
repeat-x top;
padding-top: 25px;
}
footer p, footer ul{
font-size: 0.8em;
}
footer h1
{
font-size: 1.1em;
}
#montweet, #mes_photos, #mes_amis
{
display: inline-block;
vertical-align: top;
}
#montweet{
width: 28%;
}
#mes_photos{
width: 35%;
}
#mes_amis{
width: 31%;
}
#mes_photos img{
border: 1px solid #181818;
margin-right: 2px;
}
#mes_amis ul{
display: inline-block;
vertical-align: top;
margin-top: 0;
width: 48%;
list-style-image: url('./ico_liensexterne.png');
padding-left: 2px;
}
#mes_amis a{
text-decoration: none;
color: #760001;
}