*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#image{
    width: 3%;
    position: absolute;
    margin-left: -42px;
    margin-top: -2px;
}
#im{
    width: 2%;
    position: absolute;
    margin-left: -33px;
    margin-top: 5px;
}

.header{
    background-color: cornflowerblue;
    position: relative;
    margin-left: 312px;
    color: white;
}
    .header1{
        position: relative;
    margin-left: 312px;
    color: white;
    }
    
.image01{
    padding-top: 20px;
}
#image3{
    padding-top: 20px;
}
.main{
    background-color: cornflowerblue;
    height: 69px;
    margin-left: -125px;
}
.mainf{
    background-color: cornflowerblue;
    height: 69px;
}
.televerse{
    width: 100%;
    height: 100%;
    background: #eee;
    height: 176pc;
}
.televerse25{
    width: 100%;
    height: 100%;
    background: #eee;
    height: 189pc;

}
.televerse11{
    width: 100%;
    height: 100%;
    background: #eee;
    height: 67pc;
}
.televerse2{
    width: 100%;
    height: 547px;

}
.cameroun{
    margin-left: 248px;
    margin-top: -26px;
}
#contact{
    text-decoration: none;
    color: lightyellow;
    font-size: 22px;
    font-family: sans-serif;
}

.cover{
    margin-top: -25px;
    margin-left: 604px;
    font-size: larger;
}

#submit{
    margin-left: 62px;
    height: 42px;
    width: 112px;
    padding: 6px;
    border: 1px;
    border-radius: 192px;
    color: cornflowerblue;
    background-color: white;
}
#submit14{
margin-left: 62px;
    height: 42px;
    width: 112px;
    padding: 6px;
    border: 1px;
    border-radius: 192px;
    color: green;
    background-color: white;}
.top{
    margin-left: 705px;
    margin-top: -36px;
}
.second{
    margin-left: 142px;
    margin-top: 25px;
}
.displace{
    border: 1px solid;
    width: 176px;
    height: 71px;
    margin-left: 149px;
    margin-top: 15px;
    border-radius: 9px;
    position: relative;
    color: cornflowerblue;
}
.hot{
    margin-top: -7px;
    font-size: x-large;
}





#world{
    width: 311px;
    height: 23pc;
    border-radius: 14px;
    border: 1px solid cadetblue;
}
.host{
    margin-left: 8px;
    width: 1128px;
    display: flex;
    text-align: justify;

}
.redac{
    margin-left: 60px;
    font-family: sans-serif;
}
.ul{
    margin-left: 70px;
}
#resti{
    width: 464px;
}
#name{
    color: cadetblue;
}
.flag{
    background-color: aliceblue;
    border: 1px solid dashed;
    margin-top: 3pc;
    width: 76%;
    margin-left: 148px;
    border-radius: 1%;
   
    height: 79%;
}

.world1{
    margin-top: 68px;
}
.autre{
    text-align: center;
    margin-left: -4pc;
}
#strollle{
    width: 71%;
}
.wrapper{
    display: flex;
    border: 2px solid;
    padding: 155px;
    margin-left: 0px;
    margin-top: 22px;
    border-left-style: none;
    background-color: aliceblue;
    border-right-style: none;
    height: 5%;
    background-color: #eee;

}

.container{
    
    margin-top: 2px;
 }

 .mySlides{
     display:none;
    }

    .w3-display-container{
        padding-top: 1pc;
        padding-left: 4.7pc;
    }
    .w3-large{
        COLOR: cornflowerblue;
    }
    .w3-container{

    }

.for1{
   
    margin-top: 25px;
    color: cornflowerblue;
}
.tex{
    padding-top: 10px;
}

#te{
    width: 96%;
    height: 35px;
    color: darkgray;
    margin-top: 19px;
    border: 1px solid;
    border-radius: 3px;
}
.tex>input.pof{
  padding-left: 8px;
  
  font-size: 15px;
}
.check{
 
   margin-top: 15px;
}
.check .hj{
    display: inline-block;
    width: 20px;
   margin-left: 2px;
    height: 20px;
    position: absolute;
}
.check .h54{
display: inline;
position: relative;
cursor: pointer;
color: darkgray;
margin-left: 28px;
}

.but{
   margin-top: 19px;
}
.check>input[type="checkbox"] {
    display: none;
}
label{
    position: relative;
    
}
label::before{
    content: "";
    background: url("./2.0.JPG");
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    position:absolute;
    left: -25px;
}

label::after{
    content: "";
    border: 2px solid;
    width: 18px;
    height: 17px;
    position:absolute;
    left: -25px;
    border-radius: 4px;
}

form{

    padding-bottom: 25px;
    padding-left: 18px;
    background-color: white;
    width: 80%;
    border-radius: 8px;
    margin-top: 15px;
    padding-top: 10px;
    height: 410px;
    box-shadow: 1px 1px 2px 1px #d2d5d9;
}

.tex>input[type=number]::-webkit-inner-spin-button, 
.tex>input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none !important;
    margin: 0 !important;
}
#g8{
    width: 448px;
    margin-left: 100px;
    height: 522px;
    border-radius: 10px;
   box-shadow:  1px 1px 2px 1px #d2d5d9;
}
.just{
    width: 482px;
    height: 2px;
    background: black;
    margin-left: 10pc;
    margin-top: -12px;
}
.just1{
    width: 420px;
    height: 2px;
    background: black;
    margin-left: 55pc;
    margin-top: -1px;
}
.yaounde{
    margin-left: 3pc;
    border: 1px solid double;
    width: 24.8%;
    height: 16.3pc;
    margin-top: 3pc;
}

.slot{
   
    margin-top: 17pc;
}
.just3{
    width: 553px;
    height: 2px;
    background: black;
    margin-left: 10pc;
    margin-top: -12px;
}
.just4{
        width: 502px;
    height: 2px;
    background: black;
    margin-left: 50pc;
    margin-top: -1px;
}
#bmw0{
    width: 100%;
    height: 17pc;
   
    object-fit: cover;
}
.gallery-section .imagi img{
width: 100%;
height: 100%;
transition: 0.4s;
}

.gallery-section .imagi:hover img{
transform: scale(1.4) rotate(15deg);
}
.gallery-section{
    width: 100%;
    padding: 60px 0;
    background: #f1f1f1;
}

.inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.gallery-section h1{
    text-align: center;
    text-transform: uppercase;
    color: #333;
}
.bood{
    width: 180px;
    height: 4px;
    background: #333;
    margin: 60px auto;
}
.gallery-section .gallery{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
.gallery-section .imagi{
    flex: 17%;
    overflow: hidden;
    cursor: pointer;
    margin-left: 4em;
    margin-bottom: 2em;
}
@media screen and (max-width:960px) {
    .gallery-section .imagi{
        flex:33.33%
    }
}
@media screen and (max-width:768px) {
    .gallery-section .imagi{
        flex:50%
    }
}
@media screen and (max-width:480px) {
    .gallery-section .imagi{
        flex:100%
    }
}

#live2{
    color: cornflowerblue;
    font-weight: bolder;
    text-decoration: none;
}
#live3{
    color: white;
 
    text-decoration: none;
}
.footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: 7pc;
    flex-flow: row wrap;
    page-break-after: 50px;
    color: #fff;
    background: black;
    height: 18pc;

}
.footer > *{
    flex:1 100% ;
}
.footer ul{
    list-style: none;
    padding-left: 0;
}
.footer li{
line-height: 2em;
}

.footer a{
    text-decoration: none;

}
.r-footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -0-flex;
    display: flex;
    flex-flow: row wrap;
}

.r-footer > *{
    flex: 1 50%;
    margin-right: 1.25em;
}
.box a{
    text-decoration: none;
    color:#999 ;

}
.h-box{
    column-count: 2;
    column-gap: 1.25em;
}
.b-footer{
    text-align: center;
    color: #999;
    padding-top: 50px;   
}
.l-footer p{
padding-right: 20%;
color:#999
}

@media screen and (min-width:600px){
    .r-footer > *{
        flex: 1;
    }
    .features{
        flex-grow: 2;
    }
    .l-footer{
        flex: 1 0px;
    }
    .r-footer{
        flex: 2 0px;
    }
    
}
