*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline:none
}
body{
    background: url("./contactus.jpg");
    background-size: cover;
    height: 100vh;
}
.wrapper{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}
.contact-form{
    max-width: 550px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 5px;
    /* display: flex;  */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}
.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}
.input-fields,
.msg{
width: 48%;

}
.input-fields .input,
.msg textarea{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid cornsilk;
    padding: 10px;
    width: 100%;
    color: cornflowerblue;
}
.msg textarea{
    height: 212px;
}

::-webkit-input-placeholder{
    color: cornflowerblue;
}
::-moz-input-placeholder{
    color: cornflowerblue;
}
::-ms-input-placeholder{
    color: cornflowerblue;
}

.btn{
    background: cornflowerblue;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    /* width: 485px;
    margin-left: -254px; */
    
}