body{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: sans-serif;
    background: #ccc;
}

.navbar ul{
    list-style: none;
    background: limegreen;
    padding: 0;
    margin: 0;
    text-align: center;
}
.navbar li{
    display: inline-block;
    margin-left: 1pc;
}
.navbar a{
    text-decoration: none;
    color: white;
    width: 100px;
    display: block;
    padding: 25px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    
}
.navbar a:hover{
background: #353635;
}

#logo{
    width: 5%;
    height: 2.9pc;
    position: absolute;
    margin-left: -4pc;
    margin-top: -3px;
}

.flops{
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 68vh;
    margin: 0;
    padding: 9pc 7pc;
}
.flops li{
    list-style: none;
    position: relative;
    width: 20%;
    height: 100%;
    border-right: 1px solid #000;
      float: left;
      box-sizing: border-box;
      transition: 0.5s;
      text-align: center;
      overflow: hidden;
}

.flops:hover li {
width: 10%;

}
.flops li:hover{
    width: 60%;
    border: 3px solid black;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}
.flops li .content{
position: absolute;
bottom: -100%;
left:0;
width: 100%;
background: rgba(0,0,0,.8);
box-sizing: border-box;
color: #fff;
opacity: 0;

}
.flops li:hover .content
{
    bottom: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    opacity: 1;
    
} 

.flops li:nth-child(1)
{
    background-size: cover;
    background-position: left;
    
    height: 25pc;
    background-repeat: no-repeat;
}
.flops li:nth-child(2)
{
    background-size: cover;
    background-position: left;
   
    height: 25pc;
    background-repeat: no-repeat;
}
.flops li:nth-child(3)
{
    background-size: cover;
    background-position: left;
  
    height: 25pc;
    background-repeat: no-repeat;
}
.flops li:nth-child(4)
{
    background-size: cover;
    background-position: left;

    height: 25pc;
    background-repeat: no-repeat;
}
.flops li:nth-child(5)
{
    background-size: cover;
    background-position: left;
    
    height: 25pc;
    background-repeat: no-repeat;
}
.food{
    color: limegreen;
}
.groove{
    border: 1px solid #fff;
    margin-top: 6pc;
    margin-left: 9px;
    width: 24%;
    height: 15pc;
    position: relative;
    border-radius: 4px;
}
.frame{
    margin-top: 37pc;
    margin-left: 7pc;
    width: 84.84%;
    border: 1px solid darkseagreen;
    height: 113pc;
    display: flex;
    background: white;
}
.rec{
    text-align: center;
    background-color: limegreen;
    font-size: x-large;
    color: white;
}
#has{
    position: absolute;
    width: 100%;
    height: 13.3pc;
    border-radius: 6px;
}
.explain{
    margin-top: 14pc;
    text-align: center;
}
.dove{
    width: 97%;
    height: 1px;
    margin-top: 35pc;
    margin-left: -79pc;
    background: black;
    outline-style: dotted;
    color: limegreen;
}
.frame1{
    margin-top: -80pc;
    margin-left: 7pc;
    width: 84.84%;
    height: 113pc;
    display: flex;
}
.frame2{
    margin-top: -86pc;
    margin-left: 7pc;
    width: 84.84%;
    height: 113pc;
    display: flex;
}
.groove1{
    border: 1px solid seagreen;
    margin-top: 6pc;
    margin-left: 9px;
    width: 24%;
    height: 24pc;
    position: relative;
    border-radius: 4px;
    background: white;
}
#hope{
    position: absolute;
    width: 100%;
    margin-top: 13pc;
    height: 10.33pc;

}
.pdd{
    margin-top: 15pc;
    text-align: center;
}

.fhoo{
    text-align: center;
}
.cg{
    padding-top: 2pc;
}
.cgf{
    list-style: inside;
}
.gref{
    text-align: center;
    list-style: inside;
}
.lope{
    margin-left: 10pc;
}
#lireplus{
    color: forestgreen;
}
.frame6{
    margin-top: 2pc;
    margin-left: 7pc;
    width: 84.84%;
    border: 1px solid darkseagreen;
    height: 113pc;
    display: flex;
    background: white;
}
.frame4{
    margin-top: -110pc;
    margin-left: 7pc;
    width: 84.84%;
    height: 113pc;
    display: flex;
}
.footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: -56pc;
    flex-flow: row wrap;
    page-break-after: 50px;
    color: #fff;
    background: #cccc;
    height: 30pc;
    background: black;

}
.footer > *{
    flex:1 100% ;
}
.footer ul{
    list-style: none;
    padding-left: 0;
}
.footer li{
line-height: 2em;
}

.footer a{
    text-decoration: none;

}
.r-footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -0-flex;
    display: flex;
    flex-flow: row wrap;
}

.r-footer > *{
    flex: 1 50%;
    margin-right: 1.25em;
}
.box a{
    text-decoration: none;
    color:#999 ;

}
.h-box{
    column-count: 2;
    column-gap: 1.25em;
}
.b-footer{
    text-align: center;
    color: #999;
    padding-top: 50px;   
}
.l-footer p{
padding-right: 20%;
color:#999
}

@media screen and (min-width:600px){
    .r-footer > *{
        flex: 1;
    }
    .features{
        flex-grow: 2;
    }
    .l-footer{
        flex: 1 0px;
    }
    .r-footer{
        flex: 2 0px;
    }
    
}

/* width: 100%; 
    height: 100%;
    object-fit: cover;*/  