*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.part1{
    margin-left: 24px;
 
}
.grat{
    list-style: none;
    margin-top: 8px;
}
.w{
    font-size: xx-large;
}
.grat2{
    list-style: none;
    margin-top: 10px;
    margin-left: 985px;
}
.grat3{
    list-style: none;
    margin-top: 10px;
 
}



#para{
    padding-top: 16px;
}
.border{
    width: 153px;
    height: 1px;
    background: darkgray;
    margin-left: 0px;
    margin-top: 0px;
}
.border1{
    width: 610px;
    height: 0.7px;
    background: darkgray;
    margin-left: 76px;
    margin-top: 0px;
    background-color: cornflowerblue;
}
.border2{
    width: 578px;
    height: 1px;
    background: darkgray;
    margin-left: 744px;
    margin-top: -1px;
    background-color: cornflowerblue;
}
#href{
    text-decoration: none;
    color: cornflowerblue;
}
#href2{
    text-decoration: none;
    color: cornflowerblue;
    margin-left: -17pc;
}
#href10{
    text-decoration: none;
    color: cornflowerblue;
    margin-left: 4pc;
    font-size: 1.3pc;
}
#href1{
    text-decoration: none;
    color: cornflowerblue;
    margin-left: 3px;
}

.comt{
    float: left;
    padding-right: 13px;
}
.com{
   margin-left: 15px;
  
}
#px{
    border-radius: 3px;
    border: 1px solid currentColor;
    padding: 5px;
    margin-top: 0px;
    background: whitesmoke;
}
#rech8{
    margin-left: 589px;
    position: absolute;
    margin-top: 5px
}
.p4{
    margin-left: 12pc;
    margin-top: 1.5pc;
}


.love{
    width: 89%;
    height: 134pc;
    border: 1px solid deepskyblue;
    margin-left: 1pc;
    border-right-style: none;
    border-top-style: none;
}
.vide{
    margin-top: 9px;
    border: 1px solid lightblue;
    height: 155px;
    margin-left: 0.8pc;
    width: 96.2%;
    border-top-style: none;
   background:  linear-gradient(to bottom,rgba(25,132,249,0) 0,#a7d7f9 446%)
}
#change{
    height: 2pc;
    border-bottom-style: none;
    padding-left: 3px;
    border: 1px;
    color: blue;
    background: linear-gradient(to bottom,rgba(25,132,249,0) 0,#a7d7f9 446%)
}
#wikiimage{
    position: absolute;
    margin-left: -44px;
    margin-top: 14px;
    width: 227px;
}
.libre{
    margin-left: 13pc;
    margin-top: 2pc;
    color: cornflowerblue;
}
.version{
    margin-left: 44pc;
    margin-top: -3pc;
}
.jour{
    width: 96%;
}
.flag{
    box-shadow: 1px 1px 5px 2px #d2d5d9;
    margin-top: 1pc;
    width: 107%;
    height: 32pc;
    border-radius: 0.5pc;
    margin-left: 1pc;
}
.lmpha{
    box-shadow: 1px 1px 5px 2px #d2d5d9;
    margin-top: 1pc;
    width: 52%;
    height: 32pc;
    border-radius: 0.5pc;
    margin-left: 1pc;
}
.top14{
    margin-left: 0.8pc;
}
.flag01{
    display: flex;
}

.partsec{
    margin-top: 1pc;
    box-shadow: 1px 1px 5px 2px #d2d5d9;
    width: 41%;
    height: 48pc;
    border-radius: 0.5pc;
    margin-left: 5pc;
}
.playsta{
    width: 41%;
    margin-left: -0.7pc;
    background: ghostwhite;
    border-left-style: groove;
    border-right-style: groove;
}

.level{
    list-style: none;
    margin-top: 2pc;
}
.linec{
    float: right;
    padding: 0.3pc;
}
.border4{
    width: 672px;
    height: 3px;
    background: darkgray;
    margin-left: 17px;
    margin-top: 4px;
    background-color: lightblue;
}
.border5{
    width: 522px;
    height: 3px;
    background: darkgray;
    margin-left: 17px;
    margin-top: 4px;
    background-color: lightblue;
}
.paragraphe{
    margin-top: 1pc;
    margin-left: 1pc;
}
.die{
    margin-left: 1pc;
    padding-top: 1pc;
}
.flop{
    padding-left: 0.7pc;
    float: right;
}

.comment{
    margin-top: 3pc;
}
.partsec1{
    margin-top: 3pc;
    box-shadow: 1px 1px 5px 2px #d2d5d9;
    height: 28.3pc;
    border-radius: 0.5pc;
    margin-left: 0pc;
}
.Mai{
    list-style: inside;
    margin-left: 1pc;
}
.confident{
    padding-top: 0.4pc;
}
.size{
    margin-top: -1pc;
}
.just3{
    width: 600px;
    height: 1px;
    background: black;
    margin-left: 13pc;
    margin-top: -9px;
}
.just4{
    width: 565px;
    height: 1px;
    background: black;
    margin-left: 56.3pc;
    margin-top: -1px;
}
.justify{
    margin-top: -45pc;
}
.content{
    margin-left: 12pc;
    margin-top: 2pc;
}
.wikiimage{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2pc;
}