*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
    border: 1.3px solid #ccc;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    box-shadow: 0px 1px 7px aliceblue;
}
.hder{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
    width: 77pc;
    border: 1.3px solid #ccc;
    border-left-style: none;
    border-top-style: none;
    box-shadow: 0px 1px 7px aliceblue;
}
.il{
    position: absolute;
    margin-left: 1pc;
}
.ill{
    position: absolute;
    margin-left: 9pc;
}
.ils{
    position: absolute;
    margin-left: 5px;
    margin-top: 8px;
}
#kill{
    position: absolute;
    margin-left: -10px;
    top: 5px;
}


#reso{
    width: 20px;
}

.play{
    display: inline-block;
    padding-left: 10px;
}
.haa{
    list-style: none;
}
.play01{
    padding-left: 10px;
    padding-top: 22px;
}
.shifto{
    
    margin-top: -10px;
}
.chapter{
    display: flex;
    justify-content: end;
    margin-top: 1pc;
}
.ch{
    padding-left: 11pc;
}
.hc{
    margin-left: -1pc;
    font-size: 11px;
    font-weight: bolder;
}
.chs{
    padding-left: 85px;
}
.lineh{
    width: 76pc;
    background: cadetblue;
    height: 1px;
    margin-top: 9px;
}
.section1{
    position: relative;
    margin-left: 1pc;
    margin-top: 1pc;
}
.section3{
    margin-left: 6pc;
    margin-top: 1pc;
}
.face{
    margin-left: 1pc;
}
.new{
    list-style: none;
}
.new1{
    list-style: none;
    margin-top: 1pc;
    margin-left: 11px;
}
.booster{
    width: 14pc;
    background: cadetblue;
    height: 1px;
    margin-left: 1pc;
}
.booster1{
    width: 14pc;
    background: cadetblue;
    height: 1px;
    margin-left: 1pc;
    margin-top: 1pc;
}
#re{
    width: 24px;
    margin-top: -29px;
    margin-left: -1pc;
}

#res{
    width: 4pc;
}
#ros{
    width: 22px;
}
#ross{
    width: 2pc;
    margin-left: -3pc;
    margin-top: -3px;
}
#roo{
    width: 15px;
    margin-left: -39px;
    margin-top: 1px;
    border: 2px solid #ccc;
}
#rose{
    width: 2pc;
    margin-left: -3pc;
    margin-top: 10px;
}
#rosst{
    width: 18px;
    margin-left: -1px;
    margin-top: -1px;
}
.fresh{
    margin-top: 1pc;
    position: relative;
    display: flex;
    margin-left: -5px;
    justify-content: space-between;
}
.torture{
    border: 1.3px solid #ccc;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    box-shadow: 0px 1px 7px aliceblue;
}
#recherche{
    margin-left: -14pc;
    width: 49pc;
    height: 42px;
    border: 1px solid aliceblue;
    border-radius: 7px;
    background: whitesmoke;
    padding-left: 51px;

}

#loop{
    margin-top: -30px;
    position: absolute;
    font-size: 23px;
    text-decoration: none;
    color: black;
    margin-left: -11px;
}
#droit{
    list-style: none;
    margin-left: 8px;
}
#rech{
    position: absolute;
    margin-left: -49pc;
    margin-top: 12px;
    padding-left: 1pc;
    width: 2pc;
}
#rech1{
    position: absolute;
    margin-left: -4pc;
    margin-top: 16px;
    padding-left: 1pc;
    width: 28px;
}
.reseau{
    background: cornflowerblue;
    color: white;
}
.reseau1{
    background: green;
    color: white;
}
.cav{
    width: 107%;
    overflow-y: scroll;
    padding: 10px;
    height: 50vh;
    position: relative;
    margin-left: -11px;
}
.habris{
    width: 133%;
    overflow-y: scroll;
    height: 111vh;
    border: 2.3px solid #ccc;
    
    border-left-style: none;
    font-size: smaller;
    font-family: sans-serif;
    
    box-shadow: 0px 1px 7px aliceblue;
}
